<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>云笔记系统</title>
    <!--需要联网-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="static/assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">
</head>

<body>

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse"
                    data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand waves-effect waves-yellow"><i
                    class="large materialbox-caption">insert_chart</i>
                <strong>云笔记系统</strong></a>

            <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
        </div>
        <!--用户登录信息-->
        <ul class="nav navbar-top-links navbar-right">
            <li><a class="dropdown-button waves-effect waves-dark" href="#" data-activates="dropdown1"><i
                    class="fa fa-user fa-fw"></i> <b th:unless="${session.SESSION == null}" th:text="${session.SESSION.userName}"></b> <i
                    class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </nav>
    <input hidden="hidden" id="roles" name="roles" th:value="${roles}"/>
    <!--用户登录栏的具体信息-->
    <ul id="dropdown1" class="dropdown-content">
        <li><a th:href="@{/myAccount.do}"><i class="fa fa-user fa-fw"></i>我的账户</a>
        </li>
        <li><a th:href="@{/logout.do}"><i class="fa fa-sign-out fa-fw"></i>退出登录</a>
        </li>
    </ul>

    <!--侧边栏-->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a th:href="@{'/head.do?roles='+${roles}}" class="waves-effect waves-dark"><i class="fa fa-star"></i>首页</a>
                </li>

                <li>
                    <a id="userManage" th:unless="${roles} eq 'commonUser'" href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-user"></i>用户管理<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a th:href="@{'/manageUser.do?roles='+${roles}}" >普通用户</a>
                        </li>

                        <li>
                            <a th:if="${roles} eq 'sysAdmin'"  th:href="@{'/manageAdmin.do?roles='+${roles}}">普通管理员</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-book"></i>所有笔记本<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{'/findAllNoteBooks.do?roles='+${roles}}">所有笔记本</a>
                        </li>

                    </ul>
                </li>

                <li>

                    <a  href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-trash"></i>回收站<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{'/noteBookBack.do?roles='+${roles}}">笔记本回收</a>
                        </li>

                        <li>
                            <a th:href="@{'/noteBack.do?roles='+${roles}}">笔记回收</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)" class="waves-effect waves-dark"><i class="fa fa-share"></i>收藏<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{'/collectNoteBook.do?roles='+${roles}}">收藏的笔记本</a>
                        </li>

                        <li>
                            <a th:href="@{'/collectNote.do?roles='+${roles}}">收藏的笔记</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--内容主体-->
    <div id="page-wrapper">
        <!--内容主题-->
        <div class="header">
            <h1 class="page-header">
                系统简介
            </h1>
        </div>

        <div id="page-inner">
            <!--自定义内容-->
            <div class="card">
                <div class="card-content">
                    <span class="card-title">云笔记系统</span>
                    <p>云笔记系统(Cloud Note),是一款用于用户方便在笔记本上记录笔记,以及对笔记和笔记本进行增删改查的一款功能，还有回收站功能以及收藏分享功能，非常适用于人们记录一些自己的计划或者其他的一些自己的心得,亦或者是一些学习笔记。</p>
                    <div class="table-responsive">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">公开的笔记</div>
                                        <table data-width="100%" data-nowrap="true" data-selected-multi="false"
                                               class="table table-bordered table-hover table-striped table-top"
                                               data-toggle="tablefixed">
                                            <thead>
                                            <tr>
                                                <th th:width="100" th:class="center">笔记标题</th>
                                                <th th:width="150" th:class="center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tableContent">
                                            <tr th:each="publics:${publics}">
                                                <td class="center" th:text="${publics.publicId}" th:hidden="hidden"></td>
                                                <td class="center" th:text="${publics.creator}" th:hidden="hidden"></td>
                                                <td class="center" th:text="${publics.noteName}"></td>
                                                <td class="center">
                                                    <a class="btn btn-success" data-toggle="modal" data-target="#viewNoteDialog" th:onclick="'javascript:lookPublicNote(\''+${publics.publicId}+'\')'">查看&nbsp;&nbsp;</a>
                                                    <a th:unless="${roles} eq 'commonUser'" class="btn-danger btn"  th:onclick="'javascript:deletePublicNote(\''+${publics.publicId}+'\')'">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- 查看笔记模态框 -->
                            <div class="modal fade" id="viewNoteDialog" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">查看笔记信息</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" id="view_note_form">

                                                <div class="form-group">
                                                    <label style="font-size:13px">笔记内容:&nbsp;&nbsp;&nbsp;</label>
                                                    <br>
                                                    <textarea style="width: 550px;height: 150px " id="noteBody"placeholder="笔记内容" name="noteBody" th:value="${noteBody}" readonly="readonly"></textarea>
                                                </div>
                                            </form>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div aria-label="Page navigation example">
                                <table class="pagination" id="page">
                                    <tr>
                                        <td><a th:href="@{'/head.do?currentPage=1&roles='+${roles}}">首页</a></td>
                                        <td th:switch="${currentPage}">
                                            <p th:case="1"><a th:href="@{'/head.do?currentPage=1&roles='+${roles}}">上一页</a></p>
                                            <p th:case="*"><a th:href="@{'/head.do?currentPage='+${currentPage-1}+'&roles='+${roles}}">上一页</a></p> </td>
                                        <!--<p th:case="*"><a th:href="@{/includeBookNote.do(currentPage=${currentPage-1})}">上一页</a></p> </td>-->
                                        <td th:switch="${currentPage}">
                                            <p th:case="${totalPage}"><a th:href="@{'/head.do?currentPage='+${totalPage}+'&roles='+${roles}}">下一页</a></p>
                                            <p th:case="*"><a th:href="@{'/head.do?currentPage='+${currentPage+1}+'&roles='+${roles}}">下一页</a></p> </td>
                                        <td><a th:href="@{'/head.do?currentPage='+${totalPage}+'&roles='+${roles}}">尾页</a></td>
                                    </tr>
                                </table>


                            </div>
                        </div>
                        <!--页脚-->
                        <br>
                        <br>
                        <br>
                        <footer><p class="text-center">Copyright &copy; 2019.</p></footer>
                    </div>
    </div>
            </div>
        </div>
    </div>
</div>



<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="static/assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="static/assets/js/bootstrap.min.js"></script>

<script src="static/assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="static/assets/js/jquery.metisMenu.js"></script>

<script src="static/assets/js/easypiechart.js"></script>
<script src="static/assets/js/easypiechart-data.js"></script>

<script src="static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="static/assets/js/custom-scripts.js"></script>

<script>
    function lookPublicNote(id) {
        $.ajax({
            type : 'POST',
            url : '/comyunNote/lookPublicNote.do',
            data : {id:id},
            success : function (data) {
                $("#noteBody").val(data.noteBody);
            }
        });
    }

    /**
     * 删除一条笔记
     * @author       Huxudong
     * @date         2019-02-16
     * @param id     删除笔记时该数据的id
     */
    function deletePublicNote(id) {
        if(confirm('确定删除该公开笔记吗？')) {
            $.ajax({
                type : 'post',
                url : '/comyunNote/deletePublicNote.do',
                data : {id:id},
                success : function (data) {
                    if("OK" == data) {
                        alert("删除成功!");
                        window.location.reload();
                    } else {
                        alert("删除失败!");
                        window.location.reload();
                    }
                }
            });
        } else {
            return ;
        }
    }

</script>
</body>

</html>